ul li{
    list-style: none;
}
body{
    font-family: serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 25px;

}
.options{
    display: flex;
    list-style: none;
}
.option{
    padding-right: 20px;
}
.header-start{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}
.banner{
    display: grid;
    text-align: center;
}


/*Second Section*/

.image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.second-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px 50px 100px;
}


/*Third Section*/

.description{
    display: flex;
}
.btn{
    font-size: 40px;
    font-weight: bolder;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 68px;
    right: 322px;
}


/*Fourth Section*/

.achievement{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}
.achievement div:hover{
    transform: scale(1.25);
    transition: transform 1s linear;
}


/*Final Section*/

.sponsers{
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
}

.finish{
    border: 1px; border-radius: 5px; background-color: aqua; height: 50px; width: 800px; position: relative; left: 340px;margin: 50px 0px;
}


/*Bonus Section*/

.bonus-section{
    background-color:thistle;
}
p{
    color: white;
}


/*Media Query*/

@media screen and (max-width:688px){
    .first-section, .header, .header-start, .header ul, .banner, .banner .img, .second-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner{
        position: relative;
        left: 30px;
    }
    .banner .img{
        height: 600px;
    }
    .description div .img{
        padding-top: 20px;
    }
    }
@media screen and (max-width:688px){
    .description .btn{
        position: relative;
        left: 200px;
        bottom: 120px;
    }
}
    
    .achievement{
        display: flex;
        flex-direction: column;
    }
    .box{
        align-items: center;
        padding-bottom: 20px;
    }
    .sponsers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .heading{
        position: relative;
        right: 50px;
    }
    .finish{
        position: relative;
        left: 20px;
    }
    .bonus-section{
        position: relative;
        left: 50px;
    }

@media screen and (max-width:576px){
    .second-section .image{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        position: relative;
        left: 100px;
    }
    .lorem{
        position: relative;
        left: 60px;
    }
}
